* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.heading1 {
    font-size: 40px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#inputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url(/images/landing.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    text-align: center;
    padding: 15px;
}

.login-section{
    /* border-style: solid; */
    border-width: 10px;
    padding: 5%;
    border-radius: 5%;
    /* background-color: rgba(0, 0, 0, 0.267); */
    background-image:linear-gradient(rgb(0, 0, 0, .5), rgb(0, 0, 0, .5)), url(/images/rims.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 500px;
    margin: 100px auto;
    
}

.contact-label {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aqua;
    display: block;
    text-align: center;
    padding: 15px;
}

.buttons {
    justify-content: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
    background-color: rgba(243, 12, 12, 0.726);
    box-shadow: none;
    text-align: center;
    padding: 5px;
    margin-top: 8px;

}

form p{
    color: aqua;
}

.login-input {
    padding: 5px;
    border-radius: 5px;
}

.link {
    font: bold;
    color:antiquewhite;
    font-size: 20px;
    font-weight: bold;
}